// Variables
$navbar-bg: #222831;
$text-color: #EEEEEE;
$active-color: #00ADB5;
$hover-bg: rgba(255, 255, 255, 0.1);
$transition: all 0.3s ease;

// Navbar Styles
.navbar {
    padding: 1rem 0;
    background-color: $navbar-bg;
    
    .navbar-brand {
        margin-left: 15px; // Регулируемое расстояние слева
        img {
            height: 26px; // Настройте высоту логотипа по необходимости
        }
    }
    
    .navbar-collapse {
        margin-right: 15px; // Регулируемое расстояние справа
        
        @media (max-width: 992px) {
            margin-right: 0;
            padding-top: 1rem;
            
            .nav-link {
                margin: 0.25rem 0;
                text-align: center;
                padding: 0.75rem 1rem;
                
                &.active::after {
                    left: 25%;
                    right: 25%;
                    width: 50%;
                }
            }
        }
    }
    
    // Navbar Toggler
    .navbar-toggler {
        border-color: rgba($text-color, 0.5);
        margin-right: 15px; // Синхронизация отступов с brand
        
        &-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28238, 238, 238, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
    
    // Nav Links
    .nav-link {
        color: $text-color !important;
        font-weight: 500;
        transition: $transition;
        position: relative;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        
        &:hover,
        &:focus {
            color: $active-color !important;
            background: $hover-bg;
        }
        
        &.active {
            color: $active-color !important;
            font-weight: 600;
            
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 1rem;
                right: 1rem;
                height: 2px;
                background-color: $active-color;
            }
        }
    }
}