@import 'bootstrap';
@import 'magnific-popup';
@import 'owl.carousel';

@import './layouts/header.scss';
@import './layouts/footer.scss';

@import './pages/index.scss';

@import './components/recent-works.scss';

