body {
  position: relative;
  background-color: #222831;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;

  /* Вертикальная линия */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 512px;
    width: 0.1px;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0.15;
    pointer-events: none;
  }

  /* Первая горизонтальная линия */
  &::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0.1px;
    background-color: white;
    z-index: 1;
    opacity: 0.15;
    pointer-events: none;
    box-shadow: 0 1600px 0 white;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .recent-works-section {
    background: url('../images/doodle items.png') repeat;
    background-size: 33.33% 33.33%;
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }

    .container {
      position: relative;
      z-index: 3;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;

      &.container-carousel {
        padding-top: 30px;
      }
    }

    .box-title {
      margin-bottom: 48px;
      text-align: left;
      padding-left: 15px;
    }

    .recent-works-carousel-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;

      .owl-carousel {
        .single-recent-works-item {
          display: flex !important;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          height: 100%;
          background: rgba(57, 62, 70, 0.8);
          border-radius: 16px;
          padding: 20px;
          position: relative;
          margin: 0 10px;
        }
      }
    }
  }

  .block-form {
    padding: 200px 0;

    .container {
      position: relative;
      min-height: 500px;
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      &::before {
        content: '';
        position: absolute;
        top: -157px;
        left: 761px;
        width: 300px;
        height: 101px;
        background: url('../images/keyboard.png') no-repeat;
        background-size: contain;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 208px;
        right: 1027px;
        width: 208px;
        height: 105px;
        background: url('../images/Vector 186.png') no-repeat;
        background-size: contain;
        z-index: 1;
      }

      /* Для третьего изображения создаем дополнительный элемент */
      .mail-icon {
        position: absolute;
        top: 95%;
        left: 93%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background: url('../images/mail.png') no-repeat;
        background-size: contain;
        z-index: 1;
      }
    }

    .man {
      margin: 30px 150px 30px 0;
      text-align: right;
    }

    .text-form {
      color: #eee;

      .form-control {
        background-color: #393E46;
        border: none;
        padding: 5px;
        opacity: 0.75;

        &::placeholder {
          color: #EEEEEE;
          top: 0;
          opacity: 0.5;
          padding-left: 6px;
        }
      }

      #name-field {
        height: 300px;

        &::placeholder {
          vertical-align: top !important;
          line-height: 1 !important;
          position: relative !important;
          top: -135px !important;
        }
      }
    }

    .btn-info {
      border-radius: 20px;
      color: #eee;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
      max-height: 40px;
    }

    .row {
      margin-right: -15px;
      margin-left: -15px;
    }

    .col-6 {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

/* Исправление для сетки */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-6 {
  padding-right: 15px;
  padding-left: 15px;
}

/* Адаптивность для мобильных */
@media (max-width: 768px) {
  body {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }

    .recent-works-section {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .block-form {
      padding: 100px 0;

      .container {
        &::before,
        &::after,
        .mail-icon {
          display: none;
        }
      }

      .man {
        margin: 20px 0;
        text-align: center;
      }
    }

    .col-6 {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    
    .footer-item-menu {
      flex-direction: column;
      gap: 10px !important;
      margin-left: 0 !important;
    }
  }
}

/* Дополнительные медиа-запросы для адаптивности */
@media (max-width: 1200px) {
  body {
    &::before {
      left: 400px;
    }

    .block-form {
      .container {
        &::before {
          left: 600px;
        }

        &::after {
          right: 800px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  body {
    &::before {
      left: 300px;
    }

    .block-form {
      .container {
        &::before {
          left: 450px;
          top: -100px;
        }

        &::after {
          right: 600px;
          bottom: 150px;
        }

        .mail-icon {
          left: 85%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  body {
    &::before,
    &::after {
      display: none;
    }

    .recent-works-section {
      padding-top: 50px;
      padding-bottom: 50px;
      
      .container {
        padding: 0 10px;
      }
    }

    .block-form {
      padding: 50px 0;
    }
  }
}